div{
    border: 10px solid rgb(247, 247, 247);
    margin: 10px;
    padding: 10px;
    background-color: rgb(28, 145, 139);
}


    

.title{
    text-align: center;
    font-size: 100px;
    color: rgb(96, 224, 207) ;
    
}

.words{
    text-align: center;
    font-size: 50px;
        color: rgb(96, 224, 207) ;
}


body{
    background-color: rgb(10, 65, 62);
    margin: 0;
    padding: 0;
}
.image {
    position: fixed;
    bottom: 0;
    right: -1000;
    margin: -20px;


 
  }
.designelement {
    position: fixed;
    bottom: 0;
    right: -275px;
    margin: -590px;
}
button  a {
    text-decoration: none;
    color: white;
}